<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Letter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">

     <h1> The Letters... </h1>

        <p th:text="${name}" />
        <div th:each="letter: ${listabc} " >
            <p th:text="${letter}" />
        </div>

        <table class="table">
            <thead>
            <tr>
                <td>Letter</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" letter : ${listabc}">
                <td th:text="${letter}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>